#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.main-top {
  background-color: antiquewhite;
  display: flex;
}

.main-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.berry-container {
  position: relative;
}

.main-berry {
  width: 288px;
  /* border-color: var(--pot-bg-2);
  background-color: var(--pot-bg-1);
  border: 2px solid var(--pot-bg-2); */
  position: relative;
}

.main-tree {
  width: 132px;
  position: absolute;
  left: 44px;
  top: -32px;
}

img {
  /* IE, only works on <img> tags */
  -ms-interpolation-mode: nearest-neighbor;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

.main-timer {
  font-size: 8rem;
  padding: 1rem;
  color: var(--foreground-3);
}

#plant-button {
  padding: 0.5rem 0.25rem;
  font-size: 1.2rem;
  width: 50%;
  background: var(--light-green-0);
  color: var(--foreground-2);
  border: none;
  border-bottom: 0.25rem solid var(--dark-green-0);
  border-radius: 0.5rem;
}
