#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 3rem;
}

.main-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.berry-container {
  position: relative;
}
#main-berry-pot {
  width: 288px;

  position: relative;
}

#main-tree {
  width: 132px;
  position: absolute;
  left: 44px;
  top: -32px;
}

#main-timer {
  font-size: 8rem;
  padding: 2rem;
  color: var(--foreground-3);
  font-family: var(--primary-font);
  /* font-family: var(--full-width-font); */
}

#plant-button {
  padding: 1rem 0.5rem;
  font-size: 2rem;
  width: 16rem;
  background: var(--light-green-0);
  color: var(--foreground-2);
  border: none;
  border-bottom: 0.5rem solid var(--dark-green-0);
  border-radius: 1rem;
  font-family: var(--primary-font);
}
